*> {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
 
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

i {
    width: 30px;
    height: 30px;
}






/* Navbar */

.navbar {
    display: flex;
    flex-direction: flex-start;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: rgb(43, 95, 206);
    border-bottom: 3px groove rgb(16, 100, 148);
    height: 60px;
    align-items: center;
    box-sizing: border-box;


}

.nav-link{
    display: block;
    text-align: center;
    margin: 10px;
    transition: .4s;

}

.nav-link:hover{
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #0ff,
      0 0 80px #0ff,
      0 0 90px #0ff,
      0 0 100px #0ff,
      0 0 150px #0ff;
      padding-bottom: 7px;
}

 .nav-link{
    color: white;
  
}





/* Home */

.homeApps-container {
 display: flex;
 flex-direction: flex-start;
 justify-content: space-between;
}
.center{
    justify-content: center;

}

.home-container {
    text-align: center;
    width: 70%;
    
    background-color: rgb(219, 215, 215);
    justify-content: center;
    margin: auto;
}


/* Helpers */

.clean-list {
    list-style: none;
}

.link-style {
    text-decoration: none;
    color: white;
}



/* Link {
    width: 100px;
    height: 100px;
    background-color: black;
} */

.flex {
    display: flex;
}

.space {
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: hotpink;
}