@font-face { font-family: Lobster; 
    src: url('../fonts/Lobster/Lobster-Regular.ttf'); } 



*> {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
 
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

i {
    width: 30px;
    height: 30px;
}






/* Navbar */

.navbar {
    display: flex;
    flex-direction: flex-start;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: rgb(43, 95, 206);

    height: 90px;
    align-items: center;
    box-sizing: border-box;


}

.navbar li {
    padding-left: 10px;
}



.nav-link{
    display: block;
    text-align: center;
    margin: 10px;
    transition: .3s;
    font-family: Lobster;
  
}

.nav-link:hover{
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #0ff,
      0 0 80px #0ff,
      0 0 90px #0ff,
      0 0 100px #0ff,
      0 0 170px #0ff;
      padding-bottom: 7px;
}

 .nav-link{
    color: white;
  
}


.nav-link.active{
    text-shadow:
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 120px #0ff,
    0 0 170px #0ff;

    padding-bottom: 7px;
  }



/* Home */

.homeApps-container {
 display: flex;
 flex-direction: flex-start;
 justify-content: space-between;
}
.center{
    justify-content: center;

}

.home-container h1{
    padding: 0;
    margin: 0;
    
}

.homeApps-container li{
    display: flex;
    flex-direction: column;
}

.homeApps-container li img{
    height: 200px;
    width: 200px;
}
.home-container {
    text-align: center;
    width: 70%;
    height: calc(100vh - 90px);
    background-color: rgb(219, 215, 215);
    justify-content: center;
    margin: auto;
}


/* Helpers */

.clean-list {
    list-style: none;
}

.link-style {
    text-decoration: none;
    color: white;
}



/* Link {
    width: 100px;
    height: 100px;
    background-color: black;
} */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}

a {
    text-decoration: none;
 
}