.star {
    color: black;
}




/* sideBar */

.cat-link {
    cursor: pointer;
}

.active {
    color: purple;
}


/* mister Email */

.hidden {
    display: none;
}

.checkbox {
    display: none;
}

.readcheckbox {
    display: none;
}

.readCheckbox-envelope {
    color: black;
    font-size: 50px;
    cursor: pointer;
}

.readCheckbox-envelope::selection {
    outline: none;
}

.envelopeOpen {
    color: rgb(214, 91, 91);
    font-size: 50px;
}

.checkbox-star {
    color: black;
    font-size: 50px;
    cursor: pointer;
}

.checkbox-star::selection {
    outline: none;
}

.starchecked {
    color: yellow;
    font-size: 50px;
}
