.star {
    color: black;
}

.active{
    text-shadow:
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 120px #0ff,
    0 0 170px #0ff;

    padding-bottom: 7px;
  }



/* sideBar */

.cat-link {
    cursor: pointer;
}





/* mister Email */

.hidden {
    display: none;
}

.checkbox {
    display: none;
}

.readcheckbox {
    display: none;
}

.readCheckbox-envelope {
    color: black;
    font-size: 50px;
    cursor: pointer;
}

.readCheckbox-envelope::selection {
    outline: none;
}

.envelopeOpen {
    color: rgb(214, 91, 91);
    font-size: 50px;
}

.checkbox-star {
    color: black;
    font-size: 50px;
    cursor: pointer;
}

.checkbox-star::selection {
    outline: none;
}

.starchecked {
    color: yellow;
    font-size: 50px;
}
